body {
  margin: 0;
}
img {
  max-width: 100%;
}

section {
  margin: auto;
  width: 90%;
  max-width: 940px;
}

.logo {
  width: 60px;
  height: auto;
}

.menu {
  display: inline-block;
  color: black;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header,
.galerie {
  margin: auto;
  width: 90%;
  max-width: 1340px;
}

.page-heading {
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 34px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666666;
  font-size: 15px;
  margin-top: -1%;
}

.galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
}

.galerie > * {
  width: 218px;
  max-width: 100%;
  margin: auto;
}

.photolucile {
  width: 570px;
  height: auto;
}

h3 {
  font-size: 34px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.logofooter {
  width: 60px;
  height: auto;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
}

#a-propos {
  border-top: 1px solid #666666;
  margin-top: 40px;
}

.competence {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}

.competence img {
  justify-self: center;
}

.competence .col {
  text-align: center;
}
.competence img {
  width: 50px;
  max-width: 100%;
  margin: auto;
}

.titrecompetence {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}

.titrecompetence > * {
  width: 50px;
  max-width: 100%;
  margin: auto;
}

#realisation {
  text-align: center;
}

@media screen and (min-width: 940px) {
  #a-propos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

.menu li a {
  color: black;
  text-decoration: none;
  font-size: 21px;
  font-family: "Open Sans", sans-serif;
}

.rgpd li a {
  color: #b7818;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.copyright {
  background-color: #524a4b;
  color: white;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 20px;
}

h4 {
  text-align: center;
}

.article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}

.article img {
  justify-self: center;
}

.article .col {
  text-align: center;
}
.competence img {
  width: 50px;
  max-width: 100%;
  margin: auto;
}

.article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 40px;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}

.titrearticle > * {
  width: 50px;
  max-width: 100%;
  margin: auto;
}

.article {
  text-align: justify;
  font-size: 15px;
}

h5 {
  text-align: left;
  font-size: 20px;
}
